@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::before,
::after {
    box-sizing: border-box;
}

img,
svg,
picture,
video {
    max-width: 100%;
    display: block;
}

html {
    color-scheme: dark;
}

body {
    line-height: 1.5;
}

@layer components {
    .visually-hidden {
        @apply h-[1px] w-[1px] overflow-hidden absolute whitespace-nowrap border-0 [clip-path:_inset(50%)] [clip:_rect(0_0_0_0)];
    }
}